input{
    margin: 10px auto 20px;
    border: 0;
    font-family:cursive;
    outline: none;
    box-shadow: 0 0 2px rgba(0,0,0,1);
    border-radius: 4px;
    box-sizing: border-box;
}
  input:focus{
    box-shadow: 0 0 2px #34cb6c;
    outline: 1px solid #34cb6c;
}
  input, label{
    display: block;
    text-align: start;
    line-height: 0.15em;
    font-family:cursive;

}
  button{
    width: 100%;
    border: 0;
    outline: #fcfcfc;
    border-radius: 4px;
    color: #fcfcfc;
    font-size: 15px;
    padding: 10px 0;
    margin: .3em 0;
}
