.curve-layer-1, .curve-layer-2 {
    display: none;
}
.curve {
    align-self: center;
    height: 60vh;
}
@media (max-width: 500px){
    .curve {
        height: 70vh;
        width: 100%;
        background-color: transparent;
        position: relative;
        top: -15%;
    }
    .curve-layer-1, .curve-layer-2 {
        display: block;
        width: 103%;
    }
    
}
@media (max-width: 300px) {
    .curve-layer-1 {
        position: absolute;
        top: 9%;
    }
}