.Otp-Verification-Container{
    display: flex;
    margin: 15vh auto;
    justify-content: space-around;
    gap: 10%;
    height: 100%;
    font-family: cursive;
    position: relative;
}
.otp-verification{
    text-align: center;
    display: block;
    height: 80vh;
    padding: 2em;
    line-height: 2em;
}

.verification-num input{
    width: 35px;
    height: 35px;
    font-size: 1em;
    display: inline;
    margin: 0 10px;
    text-align: center;
    outline: none;
    border: 0;
    padding: 0;
    background-color: #D6F5E2;
    border-radius: 4px;
}
.num-box{
  width: 50%;
  border: 1px solid black;
  border-radius: 4px;
  margin: 1em auto;
}
.form-footer{
    color: #34cb6c;
    width: 100%;
}
.form-footer p{
   text-align: center;
   padding: 30px 0 40px 0;
   font-size: 15px;
   font-weight: 600;
}
.otp-timing p span{
    color: #34cb6c;
}
.otp-timing p {
    font-weight: 500;
}
@media (max-width:500px) {
    .Otp-Verification-Container{
        display: block;
        margin: 0 auto;
        height: 80vh;
    }
    .form-footer{
        color: #fcfcfc;
        height: max-content;
        width: 100%;
        bottom: -70%;
        z-index: -1;
        background-color:#34cb6c;
        position: absolute;
    }
    .otp-verification{
        padding: 2em 0;
    }
    .otp-timing{
        padding:0 5em;
    }
}

