.Otp-Verification-Container{
    display: flex;
    max-width: 1000px;
    margin: 7vh auto;
    gap: 30%;
    font-family: cursive;
}
.otp-verification{
    text-align: center;
    display: block;
    height: 80vh;
    padding: 2em;
    line-height: 2em;
}

.verification-num input{
    width: 35px;
    height: 35px;
    font-size: 1em;
    display: inline;
    margin: 0 10px;
    text-align: center;
    outline: none;
    border: 0;
    padding: 0;
    background-color: #D6F5E2;
    border-radius: 4px;
}
.num-box{
  width: 50%;
  border: 1px solid black;
  border-radius: 4px;
  margin: 1em auto;
}
.form-footer{
    color: #34cb6c;
}
.form-footer p{
   text-align: center;
   padding-top: 70px;
   font-size: 15px;
   font-weight: 600;
}
.otp-timing p span{
    color: #34cb6c;
}
.otp-timing p {
    font-weight: 500;
}
@media (max-width:500px) {
    .Otp-Verification-Container{
        display: block;
        margin: 0 auto;
    }
    .form-footer{
        position: absolute;
        margin: 20vh auto 0;
        color: #fcfcfc;
        height:20vh;
        width: 100%;
        background-color:#34cb6c
    }
    .otp-verification{
        padding: 2em 0;
    }
    .otp-timing{
        padding:0 5em;
    }
}

