.sign-up-page{
    display: flex;
    max-width: 1000px;
    margin: 7vh auto;
    gap: 30%;
}
.character{
    background-color: #fcfcfc;
    display: flex;
    width: auto;
}

.create-account{
    color: #34cb6c ;
    font-family:cursive;
}
.create-account p {
    font-size: 30px;
}
.sign-up-form-container{
    position: relative;
    padding: 2em 5em;
    box-shadow: 0 0 5px rgba(0,0,0,0.1);
}
  .sign-up-view-block {
    width: 80%;
    margin: auto;
  }
  hr{
    height: 2px;
    width: 100%;
    background-color: #34cb6c;
    border-radius: 50px;
    border: 0;
  }
  .SignUpWith{
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
    font-weight: 700;
  }
  @media (max-width:500px) {
    .sign-up-page{
        display: block;
        margin: 0 auto;
    }
    input{
       width: 100%;
      }
      .sign-up-form-container{
        padding: 2em;
        box-shadow: none;
    }
  }