.sign-up-page{
    display: flex;
    margin: 7vh auto;
	justify-content: space-around;
    height: 80vh;
	width: 100%;
	position: relative;
}
.sign-up-view-page {
	display: flex;
	justify-content: space-around;
	height: 80vh;
	width: 80%;
	margin: 2em auto;
	position: relative;
	gap: 30%;
}
.create-account p {
    font-size: 30px;
}
.sign-up-form-container{
	padding: 2em 5em;
    box-shadow: 0 0 5px rgba(0,0,0,0.1);
	box-sizing: border-box;
}
.sign-up-view-block {
	display: flex;
	flex-direction: column;
	justify-content: center;
	height: 100%;
	width: 50%;
	margin-left: 10em;
	padding: 0 3em ;
}
.sign-up-view-block p {
  	margin: 1em 0 2em 0;
}

.SignUpWith{
	display: flex;
	gap: 10px;
	align-items: center;
	justify-content: center;
	font-weight: 700;
}
@media (max-width:500px) {
  .sign-up-page, .sign-up-view-page{
      display: block;
      margin: 0 auto;
	  width: 100%;
  }
  
  input{
      width: 100%;
    }
  .sign-up-form-container{
      padding: 2em;
      box-shadow: none;
  }
}
